/web/state.json
/data/players.csv
/orts-linux64.zip
/web/assets/fonts/Helvetica.ttf

# Poetry build artifacts
/build/

# PyInstaller build artifacts
/dist/
/orts.spec

# Standard issue Python stuff
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/

# KDE Dolphin
.directory

# Windows
.vscode/
