/web/state.json
/data/players.csv
/orts-linux64.zip
*.pyz

/__enamlcache__/

# should only generate this using `poetry export` as part of build step
/requirements.txt

# Poetry build artifacts
/build/

# PyInstaller build artifacts
/dist/
/orts.spec

# Standard issue Python stuff
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/

# KDE Dolphin
.directory
