/web/state.json

# Poetry build artifacts
/build/

# PyInstaller build artifacts
/dist/
/orts.spec

# Standard issue Python stuff
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/

# KDE Dolphin
.directory
