body {
    width: 1920px;
    height: 1080px;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: #999;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}

#scoreboard {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
