@keyframes fade {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease; /* ease is the default */
    animation-delay: 0s;             /* 0 is the default */
    animation-iteration-count: 1;    /* 1 is the default */
    animation-direction: alternate;  /* normal is the default */
}
