@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-DemiBold.ttf") format("opentype");
}

body {
    width: 1920px;
    height: 1080px;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: #999;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}

#scoreboard {
    text-align: center;
    position: relative;
}

#p1score, #p2score, #p1name, #p2name, #p1country, #p2country, #p1team, #p2team, #description {
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

#description {
    left: 0;
    right: 0;
    top: 8px;
    text-transform: uppercase;
    font-size: 23px;
}

#p1country, #p2country {
    height: 27px;
    width: 36px;
    top: 7px;
}

#p1country {
  left: 340px;
}

#p2country {
  right: 340px;
}

#p1score, #p2score {
    top: 2px;
    color: black;
}

#p1score {
    left: 285px;
}

#p2score {
    right: 285px;
}

#p1name {
    left: 390px;
}

#p2name {
    right: 390px;
}

#p1team {
    top: 100px;
    left: 390px;
}

#p2team {
    top: 100px;
    right: 390px;
}

#logo {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
